//- Twitter cards
meta(content="summary_large_image", name="twitter:card")
meta(content="@SachaJolly", name="twitter:site")
meta(content="@SachaJolly", name="twitter:creator")
meta(content="static_website", name="twitter:title")
meta(content="Description", name="twitter:description")
meta(content="http://website.com/img/favicon-big.jpg", name="twitter:image:src")
