//- Twitter cards
meta(content="summary_large_image", name="twitter:card")
meta(content="@TheSchoolab", name="twitter:site")
meta(content="@TheSchoolab", name="twitter:creator")
meta(content="Le grand test de l'hiver : Quelle entreprise innovante êtes-vous ?", name="twitter:title")
meta(content="", name="twitter:description")
meta(content="http://openschoolab.theschoolab.com/grand-test/img/og-cover.jpg", name="twitter:image:src")
