title Le grand test de l'hiver : Quelle entreprise innovante êtes-vous ?

meta(content="text/html; charset=utf-8", http-equiv="Content-Type")
meta(name="" content="Description")
meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui")
link(href="http://openschoolab.theschoolab.com/grand-test/", rel="canonical")
link(href="http://openschoolab.theschoolab.com/grand-test/img/favicon.png", rel="icon", type="image/png")

include ../includes/meta_twitter.pug
include ../includes/open_graph.pug
include ../includes/meta_google.pug

//- App/Mobile
meta(content="#000000", name="theme-color")
meta(name="apple-mobile-web-app-status-bar-style", content="#000000")
meta(name="apple-mobile-web-app-capable", content="yes")
meta(name="HandheldFriendly", content="true")
link(href="http://openschoolab.theschoolab.com/grand-test/img/favicon-big.png", rel="apple-touch-icon-precomposed")
link(href="http://openschoolab.theschoolab.com/grand-test/img/favicon-152.png", rel="apple-touch-icon-precomposed", sizes="152x152")
link(href="http://openschoolab.theschoolab.com/grand-test/img/favicon-120.png", rel="apple-touch-icon-precomposed", sizes="120x120")
link(href="http://openschoolab.theschoolab.com/grand-test/img/favicon-76.png", rel="apple-touch-icon-precomposed", sizes="76x76")

//- MS App
meta(content="static_website", name="application-name")
meta(content="#000000", name="msapplication-TileColor")
meta(content="http://openschoolab.theschoolab.com/grand-test/img/favicon-76.png", name="msapplication-square76x76logo")
meta(content="http://openschoolab.theschoolab.com/grand-test/img/favicon-120.png", name="msapplication-square120x120logo")
meta(content="http://openschoolab.theschoolab.com/grand-test/img/favicon-152.png", name="msapplication-square152x152logo")
