//- Open Graph
meta(content='static_website', property='og:site_name')
meta(content='static_website', property='og:title')
meta(content="Description", property='og:description')
meta(content='http://website.com/', property='og:url')
meta(content='http://website.com/img/favicon-big.jpg', property='og:image')
meta(content='website', property='og:type')
meta(content='fr', property='og:locale')
