//- Open Graph
meta(content="Le grand test de l'hiver", property='og:site_name')
meta(content="Le grand test de l'hiver : Quelle entreprise innovante êtes-vous ?", property='og:title')
meta(content="", property='og:description')
meta(content='http://openschoolab.theschoolab.com/grand-test/', property='og:url')
meta(content='http://openschoolab.theschoolab.com/grand-test/img/og-cover.jpg', property='og:image')
meta(content='website', property='og:type')
meta(content='fr', property='og:locale')
