.is-risk {
  color: $brand-red;
}

.is-strategy {
  color: $brand-orange;
}

.is-collab {
  color: $brand-blue;
}

.is-open {
  color: $brand-cyan;
}

.is-exp {
  color: $brand-green;
}

.is-finance {
  color: $brand-yellow;
}

.is-process {
  color: $brand-purple;
}

.is-time {
  color: $brand-pink;
}
